<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GaiaFlowYoga.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8197EF711D9C6B41003FEC9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8197EF881D9C6B42003FEC9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8197EF931D9C6B42003FEC9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
